<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
    <link href="atualizar.css" rel="stylesheet">
</head>
<body>
    <a href="Gerenciamento.html">Voltar</a>
    <h1>Atualizar Dados</h1>
    <div id="dados1">
        <form action="atualizar_carro" method="post">
            <h2>Dados Atuais</h2>
            Marca:   
            <input type="text" name="Marca">
            Modelo:
            <input type="text" name='Modelo'>
            Ano:
            <input type="text" name="Ano">
            Qtd:
            <input type="text" name="Qtd">

        <div id="titu">     
            <h2>Novos Dados: </h2>
        </div>
 
            Marca:   
            <input type="text" name="nMarca">
            Modelo:
            <input type="text" name='nModelo'>
            Ano:
            <input type="text" name="nAno">
            Qtd:
            <input type="text" name="nQtd">

            <div id="but">
                <input type="submit" value="Atualizar!">
            </div>

        </form>
    </div>  
    <h1>Catalogo Disponivel</h1>
    <div id="carro">
        <% for (let i = 0; i < info.length; i++) { %>
            <div id="post">
                <p>MARCA: <%= info[i].db_marca %></p>
                <p>MODELO: <%= info[i].db_modelo %></p>
                <p>ANO: <%= info[i].db_ano %></p>
                <p>QUANTIDADE: <%= info[i].db_qtd %></p>
            </div>
        <% } %>
    </div>
</body>
</html>