body{
    background-color: lightgray;
}

a {
    padding-left: 25px;
}

h1{
    display: flex;
    justify-content: center;
}

#info{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

#but{
    display: flex;
    justify-content: center;
    padding: 35px;
}