<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Novo carro</title>
    <link href="Cadastrar.css" rel="stylesheet">
</head>
<body>
    <a href="Gerenciamento.html">Voltar</a>


    <h1>Cadastrar novo carro</h1>

    <div id="info">
        <form action="/criar_carro" method="post">
        Marca:   
            <input type="text" name="Marca">
            Modelo:
            <input type="text" name='Modelo'>
            Ano:
            <input type="text" name="Ano">
            Qtd:
            <input type="text" name="Qtd">

            <div id="but">
            <input type="submit" value="Criar!">
            </div>
        </form> 
    </div>
    
</body>
</html>