<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover</title>
    <link href="remove.css" rel="stylesheet">
</head>
<body>
    <a href="Gerenciamento.html">Voltar</a> 
    <h1>Remover Carro!</h1>
<div id="info">
    <form action="/remover_carro" method="post">
        Marca: <input type="text" name="Marca">
        Modelo: <input type="text" name="Modelo">
        Ano: <input type="text" name="Ano">
        Quantidade: <input type="text" name="Qtd">
        <div id="but">
        <input type="submit" value="Enviar">
        </div>
    </form>
</div>
<br>

<h1>Catalogo Disponivel</h1>

<div id="carro">
    <% for (let i = 0; i < info.length; i++) { %>
        <div id="post">
            <p>MARCA: <%= info[i].db_marca %></p>
            <p>MODELO: <%= info[i].db_modelo %></p>
            <p>ANO: <%= info[i].db_ano %></p>
            <p>QUANTIDADE: <%= info[i].db_qtd %></p>
        </div>
    <% } %>
</div>

</body>
</html>